* {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 110%;
}

#root {
    text-align: center;
}

.calculator-title {
    font-size: 30px;
    background: #fff;
    width: 400px;
    padding: 10px 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 2px solid black;
    color: #4097e3;
}

.mainCalc {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    box-sizing: border-box;
}

.screen-row input {
    width: 400px;
    background: rgba(156, 153, 148, 0.94);
    border: 0;
    color: #222;
    padding: 10px;
    text-align: right;
}

input[type="button"] {
    width: 100px;
    background: #4097e3;
    border: 1px solid #222;
    padding: 10px 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type="button"]:active {
    background: #ccc;
}
