{{#block "header"}}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/css/main.css">
        <title>{{#block "title"}}Hello Students{{/block}}</title>
    </head>
    <body>
    <div class="page">
{{/block}}

{{#block "content"}}

{{/block}}

{{#block "footer"}}
    </div>
    </body>
    </html>
{{/block}}