{% extends "base.html" %}
{% block css %}

<style>
    .card {
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        max-width: 300px;
        max-height:426px;
    }

    iframe {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        max-height:800px;
    }

    .modal-content {
        height:480px;
    }

    .modal-content h3 {
        padding-top:25px;
        color:grey;
    }






</style>
{% endblock %}


{% block content %}
<div class="card-group">
    {% for m in movies %}
    <div class="card">
        <img class="card-img-top"
             src="{{m.poster}}"
             alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">{{m.title}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{m.year}}</h6>
            <p>
                <span class="badge badge-default"><img src="../static/icons/imdb.png" width="16px" height="16px">{{m.imdb_rating}}</span>
                <span class="badge badge-danger"><img src="../static/icons/certified_tomato.png" width="16px"
                                                      height="16px">{{m.rotten_tomatoes}}</span>
                <span class="badge badge-success"><img src="../static/icons/metacritic.png" width="16px" height="16px">{{m.metascore}}</span>
                <br>
                <strong>Director</strong>
                <br>
                {{m.director}}
                <br>
                <strong>starring</strong>
                <br>
                {{m.actors}}
            </p>
            <div class="alert alert-success" role="alert">
                <a href="{{'http://imdb.com/title/' + m.imdb_id}}" class="alert-link">{{m.title}} ({{m.year}})</a>
            </div>
            <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg{{m.id}}">Trailer
            </button>
            <div class="modal fade bd-example-modal-lg{{m.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <h3>{{m.title}} ({{m.year}})</h3>
                        <iframe height="480px" src="{{m.getURL()}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- Large modal -->
        {% endfor %}
    </div>
</div>
{% endblock %}